*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Inter", sans-serif;
}
/* Header Section Styles */
header{
    background: linear-gradient(180.00deg, rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7) 100%),url(Resources/Div\ [banner].png);
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px 20px 10px 20px;
}
nav> ul{
    display: flex;

}
nav ul li{
    margin-right: 60px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    color: rgb(251, 157, 92);
    font-size: 18.6px;
    font-weight: 400;
}
/* Primary Button */
.btn-primary{
    border-radius: 4px;
    border: none;
    padding: 12px 18px;
    background: rgb(251, 157, 92);
    font-size: 14.9px;
    font-weight: 400;
    color: rgb(33, 37, 41);
}
/* Banner Styles */
.banner{
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.banner-content h5{
    color: rgb(251, 157, 92);
    font-size: 20.5px;
    font-weight: 500;
    margin-bottom: 15px;
}
.banner-content h3{
    color: rgb(255, 255, 255);
    font-size: 44.1px;
    font-weight: 700;
    margin-bottom: 15px;
}
.banner-content{
    text-align: center;
    max-width: 400px;
}
/* All Logo Section */
.logo{
    max-width: 1320px;
    margin: 0 auto;
    background-color: rgb(249, 249, 249);
}
.logo-content{
    display: flex;
    justify-content:space-evenly ;
    padding: 30px 160px;
}
/* Main Section */
main{
    max-width: 1320px;
    margin: 40px auto;
}
main section{
    margin-top: 100px;
}
/* Services Section styles */
.service-content{
    text-align: center;
    margin-bottom: 30px;
}
.title{
    color: rgb(33, 37, 41);
    font-size: 37.7px;
    font-weight: 500;
    margin-bottom: 10px;
}
.service-content img{
    margin-bottom: 10px;
}
.row1{
    display: flex;
    justify-content: space-evenly;
    column-gap: 90px;
    align-items: center;
    margin-bottom: 30px;
}
.cart{
    border: 1px solid rgb(165, 161, 161);
    border-radius: 2px;
    text-align: center;
    padding: 10px;
}
.cart img{
    margin-bottom: 10px;
}
.cart h3{
    color: rgb(33, 37, 41);
    font-size: 18.3px;
    font-weight: 500;
    margin-bottom: 10px;
}
.cart p{
    color: rgb(33, 37, 41);
    font-size: 14.9px;
    font-weight: 400;
    line-height: 24px;
  
}
/* Hire Section Styles */
.hire{
    display: flex;
    justify-content: space-between;
    column-gap: 60px;
}
.hire-button{
    border: none;
    box-sizing: border-box;
    border: 1px solid rgb(13, 202, 240);
    border-radius: 4px;
    background: rgb(13, 202, 240);
    padding: 10px 12px;
    font-size: 14.9px;
    font-weight: 400;
    margin-bottom: 10px;
}
.color{
    color: rgb(251, 157, 92);
}
.free{
    margin-top: 20px;
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}
/* Footer Section Styles */
footer{
    background-color: #151515;
    padding: 70px;
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #C0BABA;
}
.footer-logo{
    display: flex;
    align-items: center;  
}
.footer-logo img{
    width: 20%;
    margin-left: 30px;
}
.footer1 p{
    color: rgb(192, 186, 186);
    font-size: 14.9px;
    font-weight: 400;
    line-height: 24px;
}
.footer1{
    max-width:320px;
    text-align: center;
    text-align: center;
}
.footer-title{
    color: rgb(192, 186, 186);
    font-size: 22.7px;
    font-weight: 500;
    margin-bottom: 15px;
} 
footer h5{
    color: rgb(192, 186, 186);
    font-size: 14.9px;
    font-weight: 400;
    line-height: 24px;
}
.footer-span{
    color: rgb(251, 157, 92);
    font-size: 14.9px;
    font-weight: 400;
    margin-right: 20px;
}
.footer1-title{
    color: rgb(251, 157, 92);
    font-size: 18.3px;
    font-weight: 500;
    margin:20px 0px;
}
.footer1 input{
    color: #808080;
    border: none;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 15px;
    font-weight: 400;
}
